import(zoo)
import(gets)
import(plm)

importFrom("stats", "as.formula", "coef", "df.residual", "dnorm", "model.frame", "model.matrix", "printCoefmat", "pt", "residuals", "sd", "terms.formula", "vcov")

export("gets.plm")

##S3 method for class plm:
S3method("gets", "plm")
